google-genai
google-auth>=2.45.0
openai-whisper
edge-tts
rvc-python
moviepy
Pillow
numpy
tqdm
requests
python-dotenv
pydub
torch
torchvision
torchaudio
imageio-ffmpeg
customtkinter
schedule
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
packaging
pyinstaller
fastapi
uvicorn
python-multipart
